/__pycache__
/test.pdf
/test2.pdf
/test.py
/display_question.py
/input_1.pdf
/input_2.pdf
/input_3.pdf
/input_4.pdf
/pocketbase.exe
/pb_data
node_modules
ai_test.py
New AI model plan.txt
/question generator
googlekey
frontend/src/routes/keys
question generator\main.py